@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section Scripts
{
    <script>


    //// Display an error notification
    //notyf.success('Hello');

    //// Display a success notification
    //notyf.error('Your changes have been successfully saved!');

    //notyf.open({ type: 'warning', message: 'This is a Warnign! Oops!' })

    //notyf.open({ type: 'info', message: 'This is a Infromation! Oops!' })
    </script>
}